<header>
    <div id="logo">
        <a href="/">codeial</a>
    </div>
    <div id="auth">
        <div id="sign-up">
            <a href="/users/signup">Sign Up</a>
        </div>
        <div id="sign-in">
            <a href="/users/signin">Sign In</a>
        </div>
    </div>
</header>