header {
  display: flex;
  background-color: hwb(240 0% 0%);
  font-size: 30px;
  color: white;
  /*
    pseudo class(:) -> psedo means false class on anchor tag..
    So using pseudo classes it can act like an actual class has been tagged with the anchor element
    */ }
  header #auth {
    display: flex;
    width: 100%;
    flex-direction: row-reverse; }
    header #auth #sign-up {
      margin-left: 20px;
      margin-right: 2px; }
  header a {
    color: white;
    text-decoration: none; }
  header a:hover {
    color: black; }
